@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@500&family=Roboto:wght@300&display=swap');

body { 
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #272333;
    height: 100vh;
}
#container { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    gap:20px;
}

#sidebar{
    background-color:#403c52;
    width: 200px;
    height: 500px;
    border-radius: 10px;
    padding: 30px;
    color:white;
}

.name{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 29px;
    font-weight: bold;
    line-height: 10px;
}

.foto{
    display: flex;
    justify-content: center;
    margin-top: -70px;
}

.foto img{
    width: 180px;
    height: 180px;
    border-radius: 15px;
}

.job {
    display: flex;
    justify-content: center;
    background-color: #272333;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    line-height: 10px;
}
.icons{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.icons i{
    display: flex;
    justify-content: center;
    padding: 5px;
}
a:hover i {
    transform: scale(1.5);
}
.instagram:hover {
    color: #e11d74;
}
.github:hover {
    color: black;
}
.linkedin:hover {
    color: #04009a;
}
.whatsapp:hover {
    color: #059862;
}

.linkedin .i .fa{
    width: 100px;
}

.calendario{
    display: flex;
    display: flex;
    align-items: center;
}

.calendario img{
    width: 20px;
    margin: 15px;
}


#bio{
    background-color:#403c52;
    width: 800px;
    height: 500px;
    border-radius: 10px;
    padding: 30px;
    color:white;
}
.title{
    font-size: 23px;
    line-height: 10px;
}
.bar{
    width:50px;
    height:6px;
    background-color: #0D86FF;
    border-radius: 20px;
}

.text{
    font-size: 15px;
}


